.container {
    width: 600px; 
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(179, 230, 250, 0.599);
    padding: 20px; 
    border-radius: 20px; 
    border: 2px;
    height: fit-content;
    width: 800px;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 300px;
    margin-top: 100px;
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
}


h4{
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 15px; 
    font-weight: bold; 
    color: #333;
}
.custom-button {
  background-color: black;
  color: white;
  font-size: medium;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #333; 
}

.inventory-dashboard {
  /* Main container */
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  background-color: #f5f5f5; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(13, 11, 11, 0.1); 
}

.form-section {

  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
}

label {
  /* Form labels */
  display: block;
  margin-bottom: 5px;
  font-weight:lighter;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #666; 
}

input[type="text"],
input[type="number"],
input[type="file"],
select {

  width: 80%;
  padding: 12px 10px; /* Adjust padding for better spacing */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 12px; /* Consistent font size */
}

.price-input-container {
  display: flex;
  align-items: center;
}

.price-input-container p {
  margin-right: 5px; /* Adjust the spacing between "LKR" and the input field */
}


